<header>
  {{ site.patterns | where:"title" : "Standard Header" }}
  <div class="site-navigation-header">
  <div class="container">
    <div class="site-navigation">
      <nav role="navigation">
          <div class="menu-btn js-menu-btn">
    <a href="#menu" class="button--secondary icon-caret-down"><span>Menu</span></a>
          </div>
          <ul class="js-menu">
            <li><a href="/about/">About</a></li>
            <li><a href="/styleguide/">Styleguide</a></li>
            <li><a href="/examples/">Examples</a></li>
          </ul>
      </nav>
    </div>
    </div>
  </div>

  
  
</header>